<h1>Sonian Curls</h1>
<div align="center" style="padding-top:100px">
  <h4>This web page requires a premade user or sonian.net email.</h4>
  <h4>Use the link below to sign in with your Sonian gmail account or ask an admin to create a user for you.</h4>
  </br>
  <%= link_to image_tag("btn_google_signin_dark_normal_web.png"),
      user_google_oauth2_omniauth_authorize_path %>
  <h6>OR</h6>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control", required: false %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", required: false %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
    </label>
  </div>

  <div class="form-group">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
  </div>

  <% end %>

</div>
