
<%= form_tag("/curls/#{@curl.id}", method: "get", remote:true) do %>
  <input type="submit" value="Update" class="hidden" id="submit-form">
  <%= render 'url_forms' %>

  <% unless @curl.data.nil? || @curl.data.empty? %>
    <% data = JSON.parse(@curl.data) %>
    <% data = data[0] if data.is_a? Array %>
    <% data = get_all_keys(data).uniq %>
    <table>
    <% data.each do |k| %>
      <tr>
      <% if k == "roles" %>
          <td width="40%"><%= label_tag(k, "#{k}:") %></td>
          <td width="60%"><%= render 'roles_form' %></td>
      <% elsif k == "domains" || k == "attributes" || k == "organizations_attributes" %>
          <% @array_key = k %>
          <%= render 'domains_form' %>
      <% elsif k == "key" %>
          <td width="40%"><%= text_field_tag("custom_key",
                              load_key_from_session("custom_key"),
                              :onclick => 'this.select();',
                              placeholder: "Key") %></td>
          <td width="60%"><%= text_field_tag(k, params[k],
                              :onclick => 'this.select();',
                              placeholder: "Value") %></td>
      <% else %>
          <td width="40%"><%= label_tag(k, "#{k}:") %></td>
          <td width="60%"><%= text_field_tag(k, params[k], :onclick => 'this.select();') %></td>
      <% end %>
      </tr>
    <% end %>
    </table>
    <hr>
  <% end %>

  <%= link_to "Reset", @curl, remote: true, class:"btn btn-default btn-xs" %>
  <%= label_tag('post-format', "Pretty Output") %>
  <% if show_from_session?("post-format") %>
    <%= check_box_tag('post-format', load_key_from_session('post-format'), "checked", :id => "post-format-gallery") %>
  <% else %>
    <%= check_box_tag('post-format', "0", nil, :id => "post-format-gallery") %>
  <% end %>

  <%= label_tag('single-line', "Single Line Curl") %>
  <% if show_from_session?('single-line') %>
    <%= check_box_tag('single-line', load_key_from_session('single-line'), "checked") %>
  <% else %>
    <%= check_box_tag('single-line', "0", nil) %>
  <% end %>
<% end %>
