<%= form_for(@curl) do |f| %>
  <% if @curl.errors.any? %>
    <ul class="alert">
      <% @curl.errors.full_messages.each do |msg| %>
        <li>&middot; <%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= params.inspect %>
  <div class="field">
   <%= f.label :service %><br>
   <%= f.text_field :service, name: "service[service]"%>
   <%= f.label :subsection %><br>
   <%= f.text_field :service, name: "service[subsection]" %>
  </div>
  <br>
  <div class="field">
   <%= f.label :name %><br>
   <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
   <%= f.label :method %><br>
   <%= f.select :method, [['GET'],['POST'],['PUT'],['PATCH'],['DELETE']]%>
  </div>
  <br>
  <div class="field">
   <%= f.label :headers %><br>
   <%= f.text_field :headers %>
  </div>
  <br>
  <div class="field">
   <%= f.label :url %><br>
   <%= f.text_field :url, size: "100x20" %>
  </div>
  <br>
  <div class="field">
   <%= f.label :data %><br>
   <%= f.text_area :data, size: "100x20" %>
  </div>
  <br>

  <div class="actions">
   <%= f.submit %>
  </div>
  <br>
<% end %>
