
<% title = JSON.parse(@curl.service.gsub('=>', ':')) %>

<script>
$(function() {
    $('input[name=post-format]').on('click init-post-format', function() {
        $('#gallery-box').toggle($('#post-format-gallery').prop('checked'));
    }).trigger('init-post-format');
});
</script>

<h3><%= title['service'] + " - " + @curl.name %> <%=
        link_to '', edit_curl_path(@curl),
        class:"glyphicon glyphicon-pencil",
        style:"color:#A9A9A9" if current_user.admin %></h3>

<hr>

<div class="row">

  <div class="col-xs-4">
    <%= render 'data_forms' %>
    <%= link_to "Reset", @curl, remote: true, class:"btn btn-default btn-xs" %>
  </div>

  <div class="col-xs-8">
    <pre contenteditable="true" id="selectme"><%=
    create_curl_text(@curl, params) %> <span id="gallery-box">| python -m json.tool</span></pre>
    <label>Pretty output? <input type="checkbox" name="post-format" id="post-format-gallery"></label>
    <label for="submit-form" class="btn btn-default btn-xs">Submit</label>
    <input type="button" class="click" value="Select Text" id="selectme-btn" style="visibility:hidden;"></input>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#selectme-btn").click();
      });

      $('#post-format-gallery').click(function() {
          $("#selectme-btn").click();
      });
    </script>

  </div>

</div>
