<% @list = create_sidenav_sections(@sidenav) %>
<h1>Sonian Curls</h1>

<dl>
  <% @list.each_pair do |service, subsection| %>
    <dt><%= service %></dt>
    <% subsection.each do |section| %>
      <dd>&emsp;- <%= section %></dd>
        <table style="margin-left:30px;">
        <% @curls.each  do |curl| %>
          <tr style="border-bottom: 5px solid transparent;">
          <% grouping = JSON.parse(curl.service.gsub('=>', ':')) %>
          <% if grouping['service']    == service  &&
                grouping['subsection'] == section %>
                <td style="padding-right: 10px">
                  <%= link_to curl.name, curl, remote: true %></td>
                <td>
                  <div class="btn-toolbar">
                      <% if current_user.admin %>
                      <%= link_to 'Edit', edit_curl_path(curl), class:"btn btn-primary btn-xs" %>
                      <%= link_to 'Delete', curl, class:"btn btn-primary btn-xs",
                                   method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                  </div>
                </td>
          <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</dl>
