<!DOCTYPE html>
<html>
  <head>
    <title>Curlmaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <%= render 'layouts/sidenav' %>

  <div class="container-fluid">
    <div class="side-body">
      <body>
        <% if user_signed_in? %>
         <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'pull-right'  %>
        <% end %>
        <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <%= yield %>
      </body>
    </div>
  </div>
</html>
